CREATE DATABASE [QLBongDa2]
GO
USE [QLBongDa2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BANGXH](
	[MACLB] [varchar](5) NOT NULL,
	[NAM] [int] NOT NULL,
	[VONG] [int] NOT NULL,
	[SOTRAN] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[HOA] [int] NOT NULL,
	[THUA] [int] NOT NULL,
	[HIEUSO] [varchar](5) NOT NULL,
	[DIEM] [int] NOT NULL,
	[HANG] [int] NOT NULL,
 CONSTRAINT [pk_bangxh] PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC,
	[NAM] ASC,
	[VONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAULACBO](
	[MACLB] [varchar](5) NOT NULL,
	[TENCLB] [nvarchar](100) NULL,
	[MASAN] [varchar](5) NULL,
	[MATINH] [varchar](5) NULL,
 CONSTRAINT [pk_caulacbo] PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAUTHU](
	[MACT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[VITRI] [nvarchar](50) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MACLB] [varchar](5) NOT NULL,
	[MAQG] [varchar](5) NOT NULL,
	[SO] [int] NOT NULL,
 CONSTRAINT [pk_cauthu] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HLV_CLB](
	[MAHLV] [varchar](5) NOT NULL,
	[MACLB] [varchar](5) NOT NULL,
	[VAITRO] [nvarchar](100) NULL,
 CONSTRAINT [pk_hlvclb] PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC,
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HUANLUYENVIEN](
	[MAHLV] [varchar](5) NOT NULL,
	[TENHLV] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[MAQG] [varchar](5) NOT NULL,
 CONSTRAINT [pk_hlv] PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUOCGIA](
	[MAQG] [varchar](5) NOT NULL,
	[TENQG] [nvarchar](60) NOT NULL,
 CONSTRAINT [pk_quocgia] PRIMARY KEY CLUSTERED 
(
	[MAQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SANVD](
	[MASAN] [varchar](5) NOT NULL,
	[TENSAN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [pk_sanvd] PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TINH](
	[MATINH] [varchar](5) NOT NULL,
	[TENTINH] [nvarchar](100) NOT NULL,
 CONSTRAINT [pk_tinh] PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [THAMGIA](
	[MATD] [numeric](18, 0) NOT NULL,
	[MACT] [numeric](18, 0) NOT NULL,
	[SOTRAI] [int] NULL,
 CONSTRAINT [pk_thamgia] PRIMARY KEY CLUSTERED 
(
	[MATD] ASC,
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANDAU](
	[MATRAN] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAM] [int] NOT NULL,
	[VONG] [int] NOT NULL,
	[NGAYTD] [datetime] NOT NULL,
	[MACLB1] [varchar](5) NOT NULL,
	[MACLB2] [varchar](5) NOT NULL,
	[MASAN] [varchar](5) NOT NULL,
	[KETQUA] [varchar](5) NOT NULL,
 CONSTRAINT [pk_trandau] PRIMARY KEY CLUSTERED 
(
	[MATRAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [BANGXH] ([MACLB], [NAM], [VONG], [SOTRAN], [THANG], [HOA], [THUA], [HIEUSO], [DIEM], [HANG]) VALUES (N'BBD', 2009, 1, 1, 1, 0, 0, N'3-0', 3, 1)
INSERT [BANGXH] ([MACLB], [NAM], [VONG], [SOTRAN], [THANG], [HOA], [THUA], [HIEUSO], [DIEM], [HANG]) VALUES (N'BBD', 2009, 2, 2, 1, 0, 1, N'3-5', 3, 2)
INSERT [BANGXH] ([MACLB], [NAM], [VONG], [SOTRAN], [THANG], [HOA], [THUA], [HIEUSO], [DIEM], [HANG]) VALUES (N'BBD', 2009, 3, 3, 2, 0, 1, N'4-5', 6, 1)
INSERT [CAULACBO] ([MACLB], [TENCLB], [MASAN], [MATINH]) VALUES (N'BBD', N'BECAMEX BÌNH DƯƠNG', N'GD', N'BD')
INSERT [CAULACBO] ([MACLB], [TENCLB], [MASAN], [MATINH]) VALUES (N'CSDT', N'TẬP ĐOÀN CAO SU ĐỒNG THÁP', N'CLDT', N'DT')
INSERT [CAULACBO] ([MACLB], [TENCLB], [MASAN], [MATINH]) VALUES (N'GDT', N'GẠCH ĐỒNG TÂM LONG AN', N'LA', N'LA')
SET IDENTITY_INSERT [CAUTHU] ON 

INSERT [CAUTHU] ([MACT], [HOTEN], [VITRI], [NGAYSINH], [DIACHI], [MACLB], [MAQG], [SO]) VALUES (CAST(1 AS Numeric(18, 0)), N'Nguyễn Vũ Phong', N'Tiền Vệ', CAST(0x0000A6A800000000 AS DateTime), NULL, N'BBD', N'VN', 17)
INSERT [CAUTHU] ([MACT], [HOTEN], [VITRI], [NGAYSINH], [DIACHI], [MACLB], [MAQG], [SO]) VALUES (CAST(2 AS Numeric(18, 0)), N'Nguyễn Công Vinh', N'Tiền Đạo', CAST(0x0000A6A800000000 AS DateTime), NULL, N'HAGL', N'VN', 9)
INSERT [CAUTHU] ([MACT], [HOTEN], [VITRI], [NGAYSINH], [DIACHI], [MACLB], [MAQG], [SO]) VALUES (CAST(3 AS Numeric(18, 0)), N'Nguyễn Hồng Sơn', N'Tiền Vệ', CAST(0x0000A6A800000000 AS DateTime), NULL, N'SDN', N'VN', 9)
SET IDENTITY_INSERT [CAUTHU] OFF
INSERT [HLV_CLB] ([MAHLV], [MACLB], [VAITRO]) VALUES (N'HLV01', N'GDT', N'HLV Chính')
INSERT [HLV_CLB] ([MAHLV], [MACLB], [VAITRO]) VALUES (N'HLV02', N'SDN', N'HLV Chính')
INSERT [HLV_CLB] ([MAHLV], [MACLB], [VAITRO]) VALUES (N'HLV03', N'HAGL', N'HLV Chính')
INSERT [HUANLUYENVIEN] ([MAHLV], [TENHLV], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAQG]) VALUES (N'HLV01', N'Vital', CAST(0x00004F9700000000 AS DateTime), NULL, N'0918011075', N'BDN')
INSERT [HUANLUYENVIEN] ([MAHLV], [TENHLV], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAQG]) VALUES (N'HLV02', N'Lê Huỳnh Đức', CAST(0x0000674500000000 AS DateTime), NULL, N'01223456789', N'VN')
INSERT [HUANLUYENVIEN] ([MAHLV], [TENHLV], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAQG]) VALUES (N'HLV03', N'Kiatisuk', CAST(0x0000653700000000 AS DateTime), NULL, N'0199123456', N'THA')
INSERT [QUOCGIA] ([MAQG], [TENQG]) VALUES (N'ANH', N'Anh Quốc')
INSERT [QUOCGIA] ([MAQG], [TENQG]) VALUES (N'BDN', N'Bồ Đào Nha')
INSERT [QUOCGIA] ([MAQG], [TENQG]) VALUES (N'BRA', N'Bra-xin')
INSERT [SANVD] ([MASAN], [TENSAN], [DIACHI]) VALUES (N'CL', N'Chi Lăng', N'127 Võ Văn Tần, Đà Nẵng')
INSERT [SANVD] ([MASAN], [TENSAN], [DIACHI]) VALUES (N'CLDT', N'Cao Lãnh', N'134 TX Cao Lãnh, Đồng Tháp')
INSERT [SANVD] ([MASAN], [TENSAN], [DIACHI]) VALUES (N'GD', N'Gò Đậu', N'123 QL1, TX Thủ Dầu Một, Bình Dương')
INSERT [TINH] ([MATINH], [TENTINH]) VALUES (N'BD', N'Bình Dương')
INSERT [TINH] ([MATINH], [TENTINH]) VALUES (N'DN', N'Đà Nẵng')
INSERT [TINH] ([MATINH], [TENTINH]) VALUES (N'DT', N'Đồng Tháp')
INSERT [THAMGIA] ([MATD], [MACT], [SOTRAI]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), 2)
INSERT [THAMGIA] ([MATD], [MACT], [SOTRAI]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(11 AS Numeric(18, 0)), 1)
INSERT [THAMGIA] ([MATD], [MACT], [SOTRAI]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(4 AS Numeric(18, 0)), 1)
SET IDENTITY_INSERT [TRANDAU] ON 

INSERT [TRANDAU] ([MATRAN], [NAM], [VONG], [NGAYTD], [MACLB1], [MACLB2], [MASAN], [KETQUA]) VALUES (CAST(1 AS Numeric(18, 0)), 2009, 1, CAST(0x00009BA900000000 AS DateTime), N'BBD', N'SDN', N'GD', N'3-0')
INSERT [TRANDAU] ([MATRAN], [NAM], [VONG], [NGAYTD], [MACLB1], [MACLB2], [MASAN], [KETQUA]) VALUES (CAST(2 AS Numeric(18, 0)), 2009, 1, CAST(0x00009BA900000000 AS DateTime), N'KKH', N'GDT', N'NT', N'1-1')
INSERT [TRANDAU] ([MATRAN], [NAM], [VONG], [NGAYTD], [MACLB1], [MACLB2], [MASAN], [KETQUA]) VALUES (CAST(3 AS Numeric(18, 0)), 2009, 2, CAST(0x00009BB200000000 AS DateTime), N'SDN', N'KKH', N'CL', N'2-2')
SET IDENTITY_INSERT [TRANDAU] OFF
ALTER TABLE [BANGXH]  WITH CHECK ADD  CONSTRAINT [fk_bangxh] FOREIGN KEY([MACLB])
REFERENCES [CAULACBO] ([MACLB])
GO
ALTER TABLE [BANGXH] CHECK CONSTRAINT [fk_bangxh]
GO
ALTER TABLE [CAULACBO]  WITH CHECK ADD  CONSTRAINT [fk_caulacbo_sanvd] FOREIGN KEY([MASAN])
REFERENCES [SANVD] ([MASAN])
GO
ALTER TABLE [CAULACBO] CHECK CONSTRAINT [fk_caulacbo_sanvd]
GO
ALTER TABLE [CAULACBO]  WITH CHECK ADD  CONSTRAINT [fk_caulacbo_tinh] FOREIGN KEY([MATINH])
REFERENCES [TINH] ([MATINH])
GO
ALTER TABLE [CAULACBO] CHECK CONSTRAINT [fk_caulacbo_tinh]
GO
ALTER TABLE [CAUTHU]  WITH CHECK ADD  CONSTRAINT [fk_cauthu_hlv] FOREIGN KEY([MACLB])
REFERENCES [CAULACBO] ([MACLB])
GO
ALTER TABLE [CAUTHU] CHECK CONSTRAINT [fk_cauthu_hlv]
GO
ALTER TABLE [CAUTHU]  WITH CHECK ADD  CONSTRAINT [fk_cauthu_quocgia] FOREIGN KEY([MAQG])
REFERENCES [QUOCGIA] ([MAQG])
GO
ALTER TABLE [CAUTHU] CHECK CONSTRAINT [fk_cauthu_quocgia]
GO
ALTER TABLE [HLV_CLB]  WITH CHECK ADD  CONSTRAINT [fk_hlvclb_clb] FOREIGN KEY([MACLB])
REFERENCES [CAULACBO] ([MACLB])
GO
ALTER TABLE [HLV_CLB] CHECK CONSTRAINT [fk_hlvclb_clb]
GO
ALTER TABLE [HLV_CLB]  WITH CHECK ADD  CONSTRAINT [fk_hlvclb_hlv] FOREIGN KEY([MAHLV])
REFERENCES [HUANLUYENVIEN] ([MAHLV])
GO
ALTER TABLE [HLV_CLB] CHECK CONSTRAINT [fk_hlvclb_hlv]
GO
ALTER TABLE [HUANLUYENVIEN]  WITH CHECK ADD  CONSTRAINT [fk_hlv] FOREIGN KEY([MAQG])
REFERENCES [QUOCGIA] ([MAQG])
GO
ALTER TABLE [HUANLUYENVIEN] CHECK CONSTRAINT [fk_hlv]
GO
ALTER TABLE [THAMGIA]  WITH CHECK ADD  CONSTRAINT [fk_thamgia_cauthu] FOREIGN KEY([MACT])
REFERENCES [CAUTHU] ([MACT])
GO
ALTER TABLE [THAMGIA] CHECK CONSTRAINT [fk_thamgia_cauthu]
GO
ALTER TABLE [THAMGIA]  WITH CHECK ADD  CONSTRAINT [fk_thamgia_tran] FOREIGN KEY([MATD])
REFERENCES [TRANDAU] ([MATRAN])
GO
ALTER TABLE [THAMGIA] CHECK CONSTRAINT [fk_thamgia_tran]
GO
ALTER TABLE [TRANDAU]  WITH CHECK ADD  CONSTRAINT [fk_clb1] FOREIGN KEY([MACLB1])
REFERENCES [CAULACBO] ([MACLB])
GO
ALTER TABLE [TRANDAU] CHECK CONSTRAINT [fk_clb1]
GO
ALTER TABLE [TRANDAU]  WITH CHECK ADD  CONSTRAINT [fk_clb2] FOREIGN KEY([MACLB2])
REFERENCES [CAULACBO] ([MACLB])
GO
ALTER TABLE [TRANDAU] CHECK CONSTRAINT [fk_clb2]
GO
ALTER TABLE [TRANDAU]  WITH CHECK ADD  CONSTRAINT [fk_clb3] FOREIGN KEY([MASAN])
REFERENCES [SANVD] ([MASAN])
GO
ALTER TABLE [TRANDAU] CHECK CONSTRAINT [fk_clb3]
GO
